

section {
  height: 500px;
  /* background: rgb(	255,239,2135) ; */
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
  float: left;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#title-header{

  width: 100%;
  height: 1000px;
  padding-top: 300px;
  background-image: linear-gradient(rgba(2255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),url('Images/Asset3.png');
  background-attachment: fixed;
  background-position: center center;
  background-size: cover; 
  margin:0px auto ; /* 0 auto to put it in center */
  margin-bottom: 0px;
}
#shop-page-header {
  width: 100%;
  height: 400px;
  padding-top: 100px;
  background-image: linear-gradient(rgba(2255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),url('Images/Asset3.png');
  background-attachment: fixed;
  background-position: center center;
  background-size: cover; 
  margin:0px auto ; /* 0 auto to put it in center */
  margin-bottom: 0px;
}
#shop-page-title {
  font-family: 'Times New Roman', Times, serif;
  margin: 70px auto;
  font-size: 70pt;
  color: #000000; 
}
#sub-title {
  font-family: 'Times New Roman', Times, serif;
  margin: 70px auto;
  font-size: 50pt;
  color: #000000; 
}
#eclectic-title{
  font-family: 'Times New Roman', Times, serif;
  margin: 70px auto;
  font-size: 100pt;
  color: #000000;
}

.menu {
  position: fixed;
  
  width: 15%;
  height: 200px;
  top:100px;
  left: -20px;
}
.stripes {
  position: fixed;
  width: 8%;
  height: 500px;
  top:0;
  right: 0;
  float: left;
  margin-right: 30px;
}
.stripes-shadow {
  position: fixed;
  width: 8%;
  height: 500px;
  top:0;
  right: 0;
  float: left;
  margin-right: 26px;
  opacity: 0.2;
}


.menu-tab {
  font-size: 1.5vw;
  background:  radial-gradient(
    circle at top left,
    #e664d5e5,
    #8189d8
  );
  height: 15%;
  margin-top: 15px;
  z-index: 20;

}


.menu-tab:hover{
  background:  radial-gradient(
    circle at top right,
    #e664d5e5,
    #8189d8
  );
  font-size: 1.6vw;
  height: 15%;
  margin-top: 15px;
}

#home {
  width:75%;
  position: relative;
  right:0;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);
  box-shadow: 10px 5px 5px 0px rgba(47, 47, 51, 0.3);
}
#home-p {
  -webkit-transform: skewX(0);
  -moz-transform: skewX(0);
  -ms-transform: skewX(0);
  transform: skewX(0);
}
#shop-page-subheader {
  height: 170px;
  width: 100%;
}
#about {
  width:100%;
  -webkit-transform: skewX(20deg);
  -moz-transform: skewX(20deg);
  -ms-transform: skewX(20deg);
  transform: skewX(20deg);
  box-shadow: 10px 5px 5px 0px rgba(47, 47, 51, 0.3);
}

#contact {
  width:80%;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);
  box-shadow: 10px 5px 5px 0px rgba(47, 47, 51, 0.3);
}

.grid960 {
  width: 960px;
  margin: 0 auto;
}
#aboutus {
  padding-top: 80px;
  font-family: 'Times New Roman', Times, serif;
  color: #cf238d;
}
#about_section {
padding-top: 100px;

}
#about_section > h4 {
line-height: 50px;
  }
#shop-menu {
  height: 100px;
  background-image: linear-gradient(rgba(2255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),url('Images/Asset3.png');
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  width: 100%;
  padding-top: 25px;
  background-image: linear-gradient(rgba(2255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),url('Images/Asset3.png');
  background-attachment: fixed;
  background-position: center center;
  background-size: cover; 
  margin:0px auto ; /* 0 auto to put it in center */
  margin-bottom: 0px;
}
.shop-menu-cart > div {

  text-align: center;
  font-size: 16pt; 
}
#img-slider {
  /* background: #e8d9e8; */
  background-image: linear-gradient(rgba(2255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),url('Images/Asset3.png');
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
#aboutus >h3 {
  color: #000000;
  font-size: 40pt;
  font-family: 'Times New Roman', Times, serif;
}
#aboutus >h1 {
  font-size: 40pt;
  color: #000000;
  font-family: 'Times New Roman', Times, serif;
}
#aboutus >h4 {
  font-size: 20pt;
  color: #000000;
  font-family: 'Times New Roman', Times, serif;
}
.separator {
  position: relative;
  width: 4000px;
  height: 0px;
  left: -200;
  border-top: 2px solid black;
  opacity: 0.5;
}
.meetus-container {
  float: left;
  height: 300px;
  padding-left: 100px;
}
.image-border {
  border-radius: 5px;
  margin: 20px 50px;
	width: 240px;
	height: 224px;
	/* padding: 20px; */
	line-height: 0;
	background-image: url('//fatpony.me/wp-content/uploads/2014/11/mylittleponies-bg-tutorial.jpg');
  background-size: 500px ;
  float: left;
}
.image-border-2 {
  border-radius: 5px;
  margin: 20px 20px;
  margin-left: 150px;
	width: 220px;
	height: 224px;
	/* padding: 20px; */
	line-height: 0;
	background-image: url('//fatpony.me/wp-content/uploads/2014/11/chevron-bg-tutorial.jpg');
  background-size: 50px ;
  float: left;
}
.meetus-title{ 
  text-align: center;
  width: 100%;
  height: 50px;
}
.meetus-title > h3{ 
  text-align: center;
  width: 100%;
  font-size: 40pt;
}
.meetus-card {
  height: 400px;
  background: rgb(75, 98, 139)!important;
}
.empty-space {
  height: 200px;
}
.meetus-card-body {
  color: white;
  font-size: 32pt;
  text-align: left;
}
.shop-element {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  height: 400px;
  margin: 20px 20px;
  width: 250px;
}
.shop-card-footer {
  height: 100px;
  background-image: linear-gradient(rgba(2255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),url('Images/Asset3.png');
  /* background-attachment: fixed; */
  background-position: center center;
  color: black;
  font-size: 11pt;
}
#Mira {
  background-image: url('Images/moi.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  height: 400px;
  -webkit-filter: grayscale(1);
  filter: grayscale(10%);
}

#Bahaa {
  background-image:url('Images/bahaa.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  -webkit-filter: grayscale(1);
  filter: grayscale(10%);
}
.meetus-card-footer {
  color: white;
  font-size: 20pt;
}
.coverflow__stage__14oqC {
  background: none!important;
}
#contactus {
  background-image: linear-gradient(rgba(2255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),url('Images/Asset3.png');
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
#contactus > h2  {
color:rgb(16, 14, 19);

}
.contact-us-form {
  margin: 30px 30px;
}
#contact-us-title {
  padding-top:20px;
  font-size: 40pt;
  font-family: 'Times New Roman', Times, serif;
}
label {
  width: 25%;
  text-align: left;
  float: left;
  font-size: 20pt;
}
input {
  width: 74%;
  height: 40px;
  box-shadow: 2px 5px 5px 0px rgba(47, 47, 51, 0.3);
}
textarea {
  width: 74%;
  height: 40px;
  box-shadow: 2px 5px 5px 0px rgba(24, 24, 148, 0.3);
}
.row {
  margin-top: 10px;
}
#submit-button {

  
  margin-top: 20px;
  margin-left: 800px;
  width: 20%;
  height: 50px;
  font-size: 20pt;
  background: none;
  border-radius: none;
  color: rgb(69, 35, 114);
  border: 2px solid rgb(69, 35, 114);
  box-shadow: 2px 5px 5px 0px rgba(47, 47, 51, 0.3);
}
#submit-button:hover {
  box-shadow: 4px 5px 5px 0px rgba(47, 47, 51, 0.3); 
}
.input-form {
  margin:0 auto;
  color:palevioletred;
}

.anchor-eclectic {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.footer-title {
  font-size: 14pt;
  font-weight: bold;
}
.footer-list {
  margin-top: 30px;
}
#page-footer {
  height: 400px;
}
.social-icons > i {
  width: 30px;
  height: 30px;
  margin: 5px 10px;
  font-size: 20pt;
}
#signup-text {
  text-align: left;
  margin-left: 5px;
}
.signup-input {
  width: 110%;
  border: 1px solid black;
  box-shadow: none;
  margin-left: 5px;
}
#signup-button {
  margin-top: 20px;
  width: 40%;
  height: 40px;
  font-size: 15pt;
  background: none;
  border-radius: none;
  color: black;
  border: 1px solid black;
  box-shadow: 2px 5px 5px 0px rgba(47, 47, 51, 0.3); 
}
#signup-button:hover {
  box-shadow: 4px 5px 5px 0px rgba(47, 47, 51, 0.3); 
}
  .cls-1,.cls-4{
    fill:#bf81d8;
    
  }
  .cls-1{
    stroke:#bf81d8;
    box-shadow: 10px 5px 5px 0px rgba(47, 47, 51, 0.3);
  }
  .cls-1,.cls-2,.cls-3,.cls-4{
    stroke-miterlimit:10;
  }
  .cls-2{
    fill:#c42185;stroke:#c42185;
  }
  .cls-3{
    fill:#8189d8;stroke:#8189d8;
  }.cls-4{
    stroke:#000;}

    .cls-1-shadow,.cls-4-shadow{
      fill:#bf81d8;
      
    }
    .cls-1-shadow{
      stroke:#845995;
      box-shadow: 10px 5px 5px 0px rgba(47, 47, 51, 0.3);
    }
    .cls-1-shadow,.cls-2-shadow,.cls-3-shadow,.cls-4-shadow{
      stroke-miterlimit:10;
    }
    .cls-2-shadow{
      fill:#771451;stroke:#c42185;
    }
    .cls-3-shadow{
      fill:#474c77;stroke:#8189d8;
    }.cls-4-shadow{
      stroke:#000;}

#add-cart{
  font-weight: bold;
}

.modal-sudoku {
  margin-top: 300px
}