@blue: #14a5ff;
@blue-glow:  rgb(196, 33, 133);
@red: #a53573e7;
@red-glow: #745acf;
@bkg: rgb(133, 56, 163);
@green-glow: #555bb1;
@green: #b3508d;

@glow-1: 0 0 1px;
@glow-2: 0 0 2px;
@glow-3: 0 0 6px;
@glow-4: 0 0 12px;

.textShadow(@color: @blue) {
    text-shadow: @glow-1 @color, @glow-2 @color, @glow-3 @color, @glow-4 @color; 
  }

  .boxShadow(@color: @blue) {
    box-shadow: @glow-1 @color, @glow-2 @color, @glow-3 @color, @glow-4 @color,
                inset @glow-1 @color, inset @glow-2 @color, inset @glow-3 @color, inset @glow-4 @color; 
  }
  
  .boxShadow2(@color: @blue) {
    box-shadow: 0 0 10px @color, 0 0 5px @color, 0 0 2px @color, 0 0 1px @color,
  }

  .title-header{ 
    width: 600px;
    height: 150px;
    background-color: @bkg;
    border: 3px solid @green;
    // position: absolute;
    top: 28px;
    border-radius: 10px;
    left: 50%;
    margin-left: -327px;
    .boxShadow(@green-glow);
    z-index: -9990;
  }

  #blocker-1 {
    width: 405px;
    height: 30px;
    position: absolute;
    top:20px;
    left: 200px;
    background-color: @bkg;
    z-index: -9990;
    .boxShadow2(@bkg);
  }
  
  #blocker-2 {
    width: 160px;
    height: 30px;
    position: absolute;
    bottom:30px;
    left: 320px;
    background-color: @bkg;
    z-index: -9990;
    .boxShadow2(@bkg);
  }
  
  .h1-glow {
    margin: -25px 0 -5px;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 100px;
    letter-spacing: 50px;
    color: @red;
    .textShadow (@red-glow);
    -webkit-text-stroke-width: 0px;
     -webkit-text-stroke-color: #db0808;
  }
  
  .h2-glow {
    margin: 0;
    padding: 0;
    line-height: 70px;
    font-family: 'League Script', cursive;
    font-size: 80px;
    color: @blue;
    .textShadow (@blue-glow);
  }
  
  .h1-glow-grey {
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 40pt!important;
    color: @red;
    .textShadow (@red-glow);
    -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color: #5b4857;
  }

  .h1-glow-2 {
    margin: -25px 0 -5px;
    padding: 0;
    color: rgb(104, 27, 81);
    .textShadow (@red-glow);
    -webkit-text-stroke-width: 0px;
     -webkit-text-stroke-color: #db0808;
  }
  